PORT=3000
POSTGRE_HOST=localhost
POSTGRE_PORT=5432
POSTGRE_USER=postgres
POSTGRE_PASSWORD=postgres
POSTGRE_DATABASE=template_db
POSTGRE_DEVELOPMENT=true # Remove in production
ACCESS_SECRET=my_access_secret
REFRESH_SECRET=my_refresh_secret
RESEND_API_KEY=my_resend_key